<template>
  <div class="block">
    <img alt="Minecraft block" :src="require(`@/assets/Grass_Block.png`)" />
  </div>
</template>

<style scoped lang="scss">
// Original (300 x 300)
$block-width: 450px;
$block-height: 450px;

// .block {
//   // Center vertically
//   position: fixed;
//   width: $block-width;
//   height: $block-height;
//   top: 84%;
//   left: 50%;
//   margin-left: -($block-width / 2);
//   margin-top: -($block-height / 2);

//   z-index: 10;
// }
// .block img {
//   width: $block-width;
//   height: $block-height;
// }
</style>
