<template>
  <div :class="'sheep' + (baby ? ' baby ' : '')">
    <img
      :alt="computedColor + (baby ? ' baby' : '') + ' Minecraft sheep'"
      :src="require(`@/assets/${computedBaby}${computedColor}_Sheep.png`)"
    />
  </div>
</template>

<script>
export default {
  name: "Sheep",
  props: {
    color: {
      type: String
    },
    baby: {
      type: Boolean
    },
    adult: {
      type: Boolean
    }
  },
  data: function() {
    return {
      validColors: [
        "White",
        "Black",
        "Blue",
        "Brown",
        "Cyan",
        "Gray",
        "Green",
        "Light_Blue",
        "Light_Gray",
        "Lime",
        "Magenta",
        "Orange",
        "Pink",
        "Purple",
        "Red",
        "Yellow"
      ]
    };
  },
  computed: {
    computedColor: function() {
      if (this.validColors.includes(this.color)) {
        return this.color;
      }
      return this.validColors[
        Math.floor(Math.random() * this.validColors.length)
      ];
    },
    computedBaby: function() {
      if (this.baby) {
        return "Baby_";
      } else if (this.adult) {
        return "";
      } else {
        return Math.floor(Math.random() * 2) ? "Baby_" : "";
      }
    }
  }
};
</script>

<style scoped lang="scss">
// Original Adult (750 x 875)
$sheep-width: 750px;
$sheep-height: 875px;
// Original Baby (479 × 506)
$baby-sheep-width: 479px;
$baby-sheep-height: 506px;

$sheep-scale: 0.67;

$sheep-scale-width: $sheep-scale;
$sheep-scale-height: $sheep-scale;
$baby-sheep-scale-width: $sheep-scale;
$baby-sheep-scale-height: $sheep-scale;

$sheep-width: $sheep-width * $sheep-scale-width;
$sheep-height: $sheep-height * $sheep-scale-height;
$baby-sheep-width: $sheep-width * $baby-sheep-scale-width;
$baby-sheep-height: $sheep-height * $baby-sheep-scale-height;

.sheep {
  height: 100%;
  width: 100%;
}
.sheep img {
  width: 100%;
}

// .sheep {
//   // Center vertically
//   position: fixed;
//   width: $sheep-width;
//   height: $sheep-height;
//   top: 54%;
//   left: 48%;
//   margin-left: -($sheep-width / 2);
//   margin-top: -($sheep-height / 2);

//   z-index: 20;
// }
// .sheep img {
//   width: $sheep-width;
//   height: $sheep-height;
// }
// .sheep.baby {
//   // Center vertically
//   position: fixed;
//   width: $baby-sheep-width;
//   height: $baby-sheep-height;
//   top: 59%;
//   left: 47%;
//   margin-left: -($baby-sheep-width / 2);
//   margin-top: -($baby-sheep-height / 2);

//   z-index: 20;
// }
// .sheep.baby img {
//   width: $baby-sheep-width;
//   height: $baby-sheep-height;
// }
</style>
