<template>
  <div class="wheat" @click="$emit('click', $event)">
    <img alt="Minecraft wheat" :src="require(`@/assets/Wheat.png`)" />
  </div>
</template>

<style scoped lang="scss">
// Original (160 x 160)
$wheat-width: 160px;
$wheat-height: 160px;

.wheat {
  height: 100%;
  width: 100%;
}
.wheat img {
  width: 100%;
}

// .wheat {
//   // Center vertically
//   position: fixed;
//   width: $wheat-width;
//   height: $wheat-height;
//   top: 10%;
//   left: 90%;
//   margin-left: -($wheat-width / 2);
//   margin-top: -($wheat-height / 2);

//   z-index: 80;
// }
// .wheat img {
//   width: $wheat-width;
//   height: $wheat-height;
// }
</style>
