<template>
  <div id="app">
    <div class="bottom-left">
      <h1>This is {{ sheep.name }}.</h1>
      <p>
        {{ sheep.name }} is usually quite {{ sheep.nature }}. Currently
        {{ sheep.name }} is {{ sheep.action }}.
      </p>
    </div>
    <div class="top-right">
      <p v-if="firstSheep" style="float:left">Click to get new sheep →</p>
      <button class="wheat-button">
        <Wheat @click="randomizeSheep" />
      </button>
    </div>
    <div class="center">
      <Sheep :color="sheep.color" :adult="sheep.adult" :baby="sheep.baby" />
      <!-- <Block /> -->
    </div>
  </div>
</template>

<script>
import {
  sheepNames,
  sheepNatures,
  sheepActions
} from "@/assets/generator.json";

export default {
  name: "App",
  data: function() {
    return {
      firstSheep: true,
      sheep: {
        name: "Steve",
        color: "White",
        nature: "bashful",
        action: "grazing",
        adult: true,
        baby: false
      },
      validColors: [
        "White",
        "Black",
        "Blue",
        "Brown",
        "Cyan",
        "Gray",
        "Green",
        "Light_Blue",
        "Light_Gray",
        "Lime",
        "Magenta",
        "Orange",
        "Pink",
        "Purple",
        "Red",
        "Yellow"
      ],
      sheepNames: sheepNames,
      sheepNatures: sheepNatures,
      sheepActions: sheepActions
    };
  },
  created: function() {
    this.randomizeSheep();
    this.firstSheep = true;
  },
  methods: {
    randomizeSheep: function() {
      this.firstSheep = false;
      this.sheep.color = this.validColors[
        Math.floor(Math.random() * this.validColors.length)
      ];
      if (Math.floor(Math.random() * 2)) {
        this.sheep.baby = true;
      } else {
        this.sheep.baby = false;
      }
      this.sheep.name = this.sheepNames[
        Math.floor(Math.random() * this.sheepNames.length)
      ];
      this.sheep.nature = this.sheepNatures[
        Math.floor(Math.random() * this.sheepNatures.length)
      ];
      this.sheep.action = this.sheepActions[
        Math.floor(Math.random() * this.sheepActions.length)
      ];
    }
  }
};
</script>

<style lang="scss">
body {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  background-color: #a8cdf0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.center {
  margin: 0 auto;
  margin-top: -100px;
  max-width: 400px;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .center {
    height: 300px;
    width: 300px;
  }
  button.wheat-button {
    width: 100px;
  }
}

.top-left {
  position: fixed;
  top: 24px;
  left: 24px;
}
.top-right {
  position: fixed;
  top: 24px;
  right: 24px;
}
.bottom-left {
  position: fixed;
  bottom: 24px;
  left: 24px;
}
.bottom-right {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.wheat-button {
  border: none;
  background: none;
  cursor: pointer;

  width: 160px;
}
</style>
